body {
    margin: 0px;
    padding: 0px;
    background-color: #e1dddb;
    font-family: system-ui,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

/* Шапка, подвал */
header, footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

header .links>a, footer .links>a  {
    padding: 0 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

header .links>a {
    color: #646464;
    font-size: 15px;
}

footer .links>a {
    color: #636B6F;
    font-size: 13px;
    letter-spacing: 0.1rem;
}

header .links>a:hover, footer .links>a:hover {
    color: #848484;
}

/* Основа */
.main {
    background-color:#fefefe;
    border-radius: 8px;
    padding: 50px 130px 70px;
    margin: 0 80px;
}


/* Заголовок */
h1 {
    font-weight: bold;
    font-size: 18px;
    color: #181818; 
    padding-bottom: 6px;
    border-bottom: 2px #00b43f solid;
}

/* Описание задачи */
.description * {
    margin: 0;
    padding: 4px 0;
}

/* Список */
ul {
    padding-left: 1em;
}

li a {
    line-height: 1.8em;
    color: #0075b4;
    text-decoration: none;
}

li a:hover {
    color: #36a0da;
}

