body {
    margin: 0px;
    padding: 0px;
    background-color: #e1dddb;
    font-family: Mont,sans-serif;
    font-size: 15px;
}

/* Шапка */
header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

header .links>a {
    color: #646464;
    font-size: 15px;
    padding: 0 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

header .links>a:hover {
    color: #848484;
}

/* Основа */
.main {
    background-color:#fefefe;
    border-radius: 8px;
    padding: 50px 130px 70px;
    margin: 0 80px;
}

/* Заголовок */
h1 {
    font-weight: bold;
    font-size: 18px;
    color: #181818; 
    padding-bottom: 6px;
    border-bottom: 2px #00b43f solid;
}

